[submodule ".registry"]
	path = .registry
	url = https://github.com/dynastyprocess/universe
	shallow = true
	branch = HEAD
[submodule "ffscrapr (dev)"]
	path = ffscrapr (dev)
	url = https://github.com/dynastyprocess/ffscrapr
	shallow = true
	branch = dev
	registered = true
[submodule "ffpros"]
	path = ffpros
	url = https://github.com/ffverse/ffpros
	shallow = true
	branch = dev
	registered = true
[submodule "ffsimulator"]
	path = ffsimulator
	url = https://github.com/ffverse/ffsimulator
	shallow = true
	branch = dev
	registered = true
[submodule "usetheprocess"]
	path = usetheprocess
	url = https://github.com/dynastyprocess/usetheprocess
	shallow = true
	registered = true
