[submodule ".registry"]
	path = .registry
	url = https://github.com/dynastyprocess/universe
	shallow = true
	branch = HEAD
[submodule "ffscrapr"]
	path = ffscrapr
	url = https://github.com/dynastyprocess/ffscrapr
	shallow = true
	branch = dev
	registered = true
[submodule "ffpros"]
	path = ffpros
	url = https://github.com/dynastyprocess/ffpros
	shallow = true
	branch = dev
	registered = true
[submodule "usetheprocess"]
	path = usetheprocess
	url = https://github.com/dynastyprocess/usetheprocess
	shallow = true
	registered = true
